.tGrid {
    -fx-vgap: 2;
    -fx-hgap: 2;
    -fx-padding: 2;
}

.rGrid {
    -fx-vgap: 2;
    -fx-hgap: 2;
    -fx-padding: 4;
}

.tBackground {
    -fx-background-color: #161616;
}

.rBackground {
    -fx-background-color: #e3e3e3;
}

.arcadeScore {
    -fx-font: 16 verdana; 
    -fx-base: #b6e7c9;
}

.arcadeButton {
    -fx-font: 16 verdana; 
    -fx-base: #b6e7c9;
}

.startButton {
    -fx-font: 20 "segoe ui"; 
    -fx-base: #00ff00;
}

.exitButton {
    -fx-font: 20 "segoe ui"; 
    -fx-base: #ff0000;
}

.greenBorder {
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: green;
}
